body {
    background-color: lightseagreen;
}

.body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header {
    display: flex;
    justify-content: space-evenly;
    margin: 25px;
    margin-bottom: 50px;
}

.canvas-resizing {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
        padding: 10px;
    }

    button {
        padding: 10px;
        padding-left: 18px;
        padding-right: 18px;
    }
}

.content {
    display:flex;
    justify-content: center;
}

.canvas {
    display: flex;
    flex-direction: column;
    max-width: 635px;
    width: 635px;
    max-height: 635px;
    height: 635px;
    background-color: white;

    border: 35px solid;
    border-bottom: 100px solid;
    border-style:ridge;
    border-color:firebrick;
}

.canvas-row {
    display: flex;
    flex:1;
}

.canvas-square-container {
    flex:1;
    display:flex;
    border: 1px solid;
    border-color: black;
}

.canvas-square {
    flex:1;
    background-color: black;
    opacity: 0;
}